{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h2>📋 All Bank Accounts</h2>
  <table class="table table-bordered table-hover shadow-sm">
    <thead class="table-dark">
      <tr>
        <th>ID</th><th>Name</th><th>Email</th><th>Mobile</th><th>Account No.</th><th>Balance</th><th>Created</th>
      </tr>
    </thead>
    <tbody>
{% for acc in accounts %}
<tr>
  <td>{{ acc['id'] }}</td>
  <td>{{ acc['name'] }}</td>
  <td>{{ acc['email'] }}</td>
  <td>{{ acc['mobile'] }}</td>
  <td>{{ acc['acc_number'] }}</td>
  <td>₹ {{ acc['balance'] }}</td>
 <td> {{ acc['created'] }}</td>
</tr>
{% endfor %}

    </tbody>
  </table>
{% endblock %}
